{% load static %}

<footer class="d-flex justify-content-between border-top py-4 px-4">
    <div class="d-flex align-items-center">
        <a class="navbar-brand fw-bold fs-4" href="#"><span class="me-3 ms-2 text-danger"><i class="bi bi-shop"></i></span>MathShop</a>
        <p class="ms-4 pt-4">Nimati berbelanja dengan mudah dan praktis</p>
    </div>
    <div class="fs-4 py-4">
        <span class="me-3 fs-6">Sosial Media :</span>
        <a href="#"><i class="bi bi-facebook text-primary"></i></a>
        <a class="ms-4" href="#"><i class="bi bi-github text-black"></i></a>
        <a class="ms-4" href="#"><i class="bi bi-instagram text-danger"></i></a>
        <a class="ms-4" href="#"><i class="bi bi-twitter text-info"></i></a>
    </div>
</footer>