{% extends 'base.html' %}

{% load static %}

{% block title %}Tambah Produk - MathShop{% endblock %}

{% block content %}

<div style="padding-top: 100px;" class="d-flex flex-column justify-content-center align-items-center mb-5">
    <a class="navbar-brand fw-bold fs-4 mb-4 mt-5" href="/"><span class="me-3 ms-2 text-danger"><i class="bi bi-shop"></i></span>MathShop</a>
    <!--Form Login-->
    <div style="width: 400px;" class="border p-4">
        <p class="fs-4 fw-bold text-center">Tambah Produk Anda di MathShop</p>
        <form action="add/" class="d-flex flex-column mb-2" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <label for="product">Nama Produk:</label>
            <input class="form-control mb-4" type="text" name="product" placeholder="Masukan nama produk anda!">
            <label for="price">Harga Produk:</label>
            <input class="form-control mb-4" type="text" name="price" placeholder="Berapa harganya?">
            <label for="description">Deskripsi :</label>
            <input type="file" name="thumbnail" class="form-control mb-2">
            <textarea class="form-control mb-4" name="description" placeholder="Deskripsikan produk anda!"></textarea>
            <button class="btn btn-success fw-bold fs-5" type="submit">Tambah</button>
        </form>
        <a href="/market-place/" class="btn btn-danger fw-bold w-100 fs-5">Batal</a>
    </div>
</div>

{% endblock %}